@{
    ViewData["Title"] = "Potongan Koperasi";
}
@section styles{
    <style>
        div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
            text-align: left;
        }

        table.table-bordered thead > tr > th {
            border: 1px solid;
            background-color: #8fa0c7;
            vertical-align: middle;
        }

        table.table-bordered tbody > tr > td {
            border: 1px solid;
            border-top: 0px;
            vertical-align: middle;
            text-align: center;
        }

        .dataTables_length select {
            font-size: 15px;
        }

        table.table-bordered tbody > tr > td > input {
            vertical-align: middle;
            text-align: center;
        }
    </style>
}

<div class="pt-4">
    <div class="card card-light">
        <div class="card-header ">
            <div class="d-flex align-items-left justify-content-between mb-0">
                <h5 class="mb-0 font-weight-bold">Potongan Koperasi</h5>                
            </div>
        </div>       
        <form asp-action="PotonganKoperasi" asp-controller="GajiHonorarium">
            <div class="card-body">
                <div class="form-group">
                    <label>Tahun</label>
                    <select class="form-control" name="id_tahun" id="id_tahun" style="width: 100%;">
                        <option value="">-- Pilih Tahun --</option>
                        @for (int i = DateTime.Now.Year; i >= DateTime.Now.Year - 8; i--)
                        {
                            if (Model.tahun == i)
                            {
                                <option value="@i">@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Bulan</label>
                    <select class="form-control" name="id_bulan" id="id_bulan" style="width: 100%;">
                        <option value="">-- Pilih Bulan --</option>
                        @foreach (var kom in Model.bulan)
                        {
                            <option value="@kom.id_bulan"> @kom.bulan</option>
                        }
                    </select>
                </div>            
            </div>
    
            <div class="card-footer text-center">
                <button class="btn btn-primary w-50" type="submit">Tampilkan</button>
            </div>


        </form>
    </div>
</div>

<div class="container-fluid pt-2 pb-4">
    <div class="bg-light text-center rounded p-4">       
      @*  <div class="d-flex align-items-left justify-content-between mb-3">
            <h5 class="mb-0 font-weight-bold">Data</h5>
            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 200px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>    *@
        <div class="table-responsive">
            <table id="tabel" class="table text-center align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">NPP</th>
                        <th scope="col">Nama </th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">Jumlah </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.table)
                    {
                        <tr>
                            <td>@item.npp</td>
                            <td>@item.nama</td>
                            <td>@item.keterangan</td>
                            <td>@item.jumlah</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#tabel').DataTable({
            });
        });


    </script>
}