@{
    ViewData["Title"] = null;
}

@section styles{
    <style>
        div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_info {
            text-align: left;
        }

        table.table-bordered thead > tr > th {
            border: 1px solid;
            background-color: #8fa0c7;
        }

        table.table-bordered tbody > tr > td {
            border: 1px solid;
            border-top: 0px;
        }

        .dataTables_length select {
            font-size: 15px;
        }

        table.table-bordered tbody > tr > td, table.table-bordered tbody > tr > td > input {
            vertical-align: middle;
            text-align: left;
        }

        .modal-footer .btn-primary, .modal-footer .btn-secondary {
            width: 70px;
        }

        table.table-bordered tbody > tr > td:last-child {
            text-align: center;
        }
    </style>
}
<div class="pt-4">
    <div class="card card-light">
        <div class="card-header ">
            <div class="d-flex align-items-left justify-content-between mb-0">
                <h5 class="mb-0 font-weight-bold">Pengelolaan Role</h5>
            </div>
        </div>

        <div class="card-body">
            @if (Model.data == null)
            {

                <div class="form-group">
                    <label>NPP</label>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" placeholder="NPP" name="npp" class="form-control" id="npp">
                        </div>

                        <div class="col-4">
                            <form asp-action="Index" asp-controller="Role" method="get">
                                <div class="input-group">
                                    <input type="text" name="npp" placeholder="NPP" class="form-control">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary" value="Search">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

                <form class="needs-validation">
                    <div class="form-group">
                        <label>Nama </label>
                        <input type="text" class="form-control" name="nama" placeholder="Nama" required>
                    </div>

                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="id_role" id="id_role" required>
                            <option>Pilih</option>
                            @foreach (var item in Model.deskripsi_role)
                            {
                                <option value="@item.id_role">@item.role</option>
                            }
                        </select>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary w-50" type="submit">Simpan</button>
                    </div>
                </form>
            }
            else if (Model.data != null)
            {
                <div class="form-group">
                    <label>NPP</label>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" placeholder="NPP" name="npp" class="form-control" id="npp" value="@Model.data.npp" required>
                        </div>

                        <div class="col-4">
                            <form asp-action="Role" asp-controller="Role" method="get">
                                <div class="input-group">
                                    <input type="text" name="npp" placeholder="NPP" class="form-control">
                                    <span class="input-group-append">
                                        <button type="submit" class="btn btn-primary" value="Search">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label>Nama </label>
                    <input type="text" class="form-control" name="nama" placeholder="Nama" value="@Model.data.nama" required>
                </div>

                @Html.AntiForgeryToken()
                <form asp-action="TambahRole" asp-controller="Role" method="post">
                    <input type="text" placeholder="NPP" name="npp" class="form-control" id="npp" value="@Model.data.npp" hidden>

                    <div class="form-group">
                        <label>Role</label>
                        <select class="form-control" name="id_role" id="id_role" required>
                            <option>Pilih</option>
                            @foreach (var item in Model.deskripsi_role)
                            {
                                <option value="@item.id_role">@item.role</option>
                            }
                        </select>
                    </div>
                    <div class="card-footer text-center">
                        <button class="btn btn-primary w-50" type="submit">Simpan</button>
                    </div>
                </form>
            }
        </div>
    </div>
</div>

<div class="pt-2 pb-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-left justify-content-between mb-3">
            <h5 class="mb-0 font-weight-bold" id="h5"> </h5>
        </div>
        <div class="table-responsive">
            <table id="tabel" class="table text-center table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"></th>
                        <th scope="col">NPP</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Role</th>
                        <th scope="col">Aksi</th>
                    </tr>
                </thead>

                <tbody id="tabelBody">
                    @foreach (var item in Model.table)
                    {
                        <tr id="paginated-list">
                            <td>@item.id</td>
                            <td>@item.npp</td>
                            <td>@item.nama</td>
                            <td>@item.role</td>
                            <td>
                                <button type="button" class="btn btn-success btn-sm mb-1 mt-1" style="width:60px" data-toggle="modal" data-target="#detailModal-@(item.id)" id="submit"> Ubah</button>
                                <button type="button" class="btn btn-danger btn-sm mb-1 mt-1" style="width:60px" data-toggle="modal" data-target="#konfirmasiModal-@(item.id)" id="submit"> Hapus</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@foreach (var item in Model.table)
{
    <form asp-action="UbahRole" asp-controller="Role" method="post">
        <div class="modal fade" id="detailModal-@(item.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ubah Data</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                ×
                            </span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <!-- Data passed is displayed
                            in this part of the
                            modal body -->
                        <h6 id="modal_body"></h6>
                        <input type="text" class="form-control" name="id_role" value="@item.id_role" placeholder="ID Role" hidden>
                        <div class="form-group">
                            <label>NPP Karyawan</label>
                            <input type="text" class="form-control" name="npp" value="@item.npp" placeholder="NPP" readonly>
                        </div>
                       
                        <div class="form-group">
                            <label>Nama </label>
                            <input type="text" class="form-control" name="nama" value="@item.nama" readonly>
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select class="form-control" name="role_update" id="role_update" required>
                                <option value="@item.id_role">@item.role</option>
                                @foreach (var role in Model.deskripsi_role)
                                {
                                    <option value="@role.id_role">@role.role</option>
                                }

                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-sm w-100">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
@foreach (var item in Model.table)
{
    <form asp-action="HapusRole" asp-controller="Role" method="post">
        <div class="modal fade" id="konfirmasiModal-@(item.id)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                ×
                            </span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <!-- Data passed is displayed
                            in this part of the
                            modal body -->
                        <input type="text" placeholder="NPP" name="npp" class="form-control" id="npp" value="@item.npp" hidden>
                        <input type="text" placeholder="Role" name="id_role" class="form-control" id="id_role" value="@item.id_role" hidden>
                        <p>Apakah Anda Yakin akan menghapus role @item.npp ini?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                        <button type="submit" class="btn btn-primary">Ya</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

}
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabel').DataTable({
                pagingType: 'simple_numbers'
            });
        });
    </script>
    <script>
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
    </script>

}